<main>
  <div class="calc-header">
    <h3>calc</h3>
    <span>theme</span>
  </div>
  <div class="calc-display">
    <span>{{result }}</span>
  </div>
  <div class="calc-body">
    <div class="btn btn-7" (click)="onBtnClick('7')">7</div>
    <div class="btn btn-8" (click)="onBtnClick('8')">8</div>
    <div class="btn btn-9" (click)="onBtnClick('9')">9</div>
    <div class="btn btn-DEL" (click)="onBtnClick('DEL')">DEL</div>
    <div class="btn btn-4" (click)="onBtnClick('4')">4</div>
    <div class="btn btn-5" (click)="onBtnClick('5')">5</div>
    <div class="btn btn-6" (click)="onBtnClick('6')">6</div>
    <div class="btn btn-Plus" (click)="onBtnClick('+')">+</div>
    <div class="btn btn-1" (click)="onBtnClick('1')">1</div>
    <div class="btn btn-2" (click)="onBtnClick('2')">2</div>
    <div class="btn btn-3" (click)="onBtnClick('3')">3</div>
    <div class="btn btn-Minus" (click)="onBtnClick('-')">-</div>
    <div class="btn btn-Point" (click)="onBtnClick('.')">.</div>
    <div class="btn btn-0" (click)="onBtnClick('0')">0</div>
    <div class="btn btn-Division" (click)="onBtnClick('/')">/</div>
    <div class="btn btn-Multiplication" (click)="onBtnClick('*')">X</div>
    <div class="btn btn-RESET" (click)="onBtnClick('RESET')">RESET</div>
    <div class="btn btn-Equals" (click)="onBtnClick('=')">=</div>
  </div>
</main>
